body {
  background: linear-gradient(to bottom right, #ff06c5, #0b59e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  background: #fafbf91a;
  backdrop-filter: blur(10px);
  border-radius: 7px;
  padding: 15px;
  text-align: center;
  width: 30%;
}

h1 {
  color: rgb(244, 242, 242);
}

.calculator {
  background: linear-gradient(to bottom right, #ff06c5, #0b59e0);
  border-radius: 10px;
  padding: 20px;
}



input {
  width: 100%;
  height: 45px;
  font-size: 1.5em;
  
  margin-bottom: 2rem;
  border: none;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

button {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 5px;
  font-size: 1.2em;
  background:linear-gradient(to bottom right, #e7e5e4, #6a8fcf);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #efebeb;
}

/* Added Some Styling */
.operator{
  background:linear-gradient(to bottom right, #2a2525, #423c3a);
  color: #7cf6ff;
}

.operator:hover{
  background-color: #5b5b5b;
}

.fa-delete-left{
  font-size: 1.3em;
}
